<div id="<%= dom_id book %>">
  <div>
    <strong>Título:</strong>
    <%= book.title %>
  </div>

  <div>
    <strong>Autor:</strong>
    <%= book.author %>
  </div>

  <div>
    <strong>Ano:</strong>
    <%= book.year %>
  </div>

  <div>
    <strong>User:</strong>
    <%= book.user_id %>
  </div>

</div>
