<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Leitura App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Leitura App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes application stylesheet from app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light px-4 shadow-sm">
      <div class="container-fluid">

        <%= link_to "Leitura App", root_path, class: "navbar-brand fw-bold" %>

        <div class="ms-auto d-flex align-items-center gap-2">

          <% if user_signed_in? %>
            <span class="me-3">
              Olá, <strong><%= current_user.email.split("@").first %></strong>
            </span>

            <%= link_to "Meus livros",
                books_path,
                class: "btn btn-outline-secondary btn-sm" %>

            <%= link_to "Novo livro",
                new_book_path,
                class: "btn btn-success btn-sm" %>

            <%= link_to "Sair",
              destroy_user_session_path,
              data: { turbo_method: :delete },
              class: "btn btn-outline-danger btn-sm" %>

          <% else %>
            <%= link_to "Login",
                new_user_session_path,
                class: "btn btn-outline-primary btn-sm" %>

            <%= link_to "Criar conta",
                new_user_registration_path,
                class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </nav>

    <!-- container global da página -->
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
